[Unit]
Description=Controls the right R2D2 wheel
After=r2d2.service

[Service]
ExecStart=/home/pi/r2/dome 16 22 7778
Restart=always
User=root

[Install]
WantedBy=multi-user.target
